.footer {
    background-image: linear-gradient(
      to right,
      #494848 0%,
      #464545 15%,
      #414040 35%,
      #3f3c3d 50%,
      #414040 65%,
      #464545 80%,
      #494848 100%
    );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    z-index: 20;
    position: relative;
    width: 100vw;
    font-weight: 600;
    overflow-x: hidden;
  }

  .footer__imgLogo { 
    border-radius: 50%;
    height: auto;
    width: 65px;
    align-items: center;
    margin-left: 80px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer-container ul {
      margin: 0;
  }
  
  .footer-logo {
    color: #fff;
    align-items: center;
    margin-left: 50px;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    max-width: 180px;
    z-index: 2;
  }

  .footer-logo:hover{ 
    color: #fff;
  }
  
  .footer-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .footer-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    overflow-y: hidden;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .footer-item {
    line-height: 40px;
    margin-right: 1rem;
    overflow-y: hidden;
    transition: all 0.35s;
  }

  .footer-item:hover { 
    transform: scale(1.1);
  }
 

  .footer-item a { 
      color: #fff
  }

  
  .footer-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .footer { 
      height: 100%;
      overflow-y: hidden;
    }

    .footer-container { 
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: hidden;
    }

    .footer-logo { 
      font-size: 2.3rem;
      margin-left: 19%;
      margin-bottom: 0;
      overflow-y: hidden;
    }

    .footer-menu {
      display: none;
    }

    .footer-links {
      padding: .5rem;
      width: 100%;
      display: table;
    }
  
    .footer-icon {
      display: block;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
      margin-bottom: 65px;
    }
  }
  