.home { 
    margin: 0;
    height: 78vh;
    background-image: linear-gradient(
        to right,
        #494848 0%,
        #464545 15%,
        #414040 35%,
        #3f3c3d 50%,
        #414040 65%,
        #464545 80%,
        #494848 100%
    );
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    padding-bottom: 0;
}

.home__container { 
    color: #fff;
    text-align: center;
    width: 85vw;
    overflow-x: visible;
    padding-bottom: 180px;
}

.home__container h1 { 
    margin: 0;
    font-size: 8rem;
}

.home__container p{
    font-size: 1.5rem; 
    margin: 0;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home__imgContainer {
    padding-top: 40px;
    padding-left: 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
    bottom: 10vh;
    position: absolute;
}

.home__imgIndividual { 
    width: 100%;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
}

.home__imgContainer img{ 
    width: 93%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.home__imgContainer figcaption { 
    text-align: center;
    width: 90%;
}

.home-linksWrapper { 
    padding-top: 10px;
    overflow-x: visible;

}
.home-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    .home { 
        flex-direction: column;
        height: 100%;
    }

    .home__container { 
        width: 100vw;
        height: 100%;
        overflow-x: visible;
    }

    .home__container h1 { 
        margin-top: 50px;
        padding-bottom: 10px;
    }

    .home__container p { 
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 675px) {
    .home{ 
        height: 75vh;
    }

    

    .home__container h1{
        font-size: 2.6rem;
    }

    .home__container p{
        font-size: 1.1rem;
        width: 90%;
    }

    .home__imgContainer {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        resize: horizontal;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    .home__imgContainer img{ 
        width: auto;
        height: 180px;
    }

    .home__imgContainer figcaption { 
        padding-left: 10px;
        padding-bottom: 10px;
    }


}