.navbar {
    background-image: linear-gradient(
      to right,
      #494848 0%,
      #464545 15%,
      #414040 35%,
      #3f3c3d 50%,
      #414040 65%,
      #464545 80%,
      #494848 100%
    );  
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    position: relative;
    width: 100vw;
    font-weight: 600;
  }

  .nav__imgLogo { 
    border-radius: 50%;
    height: auto;
    width: 65px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    
  }

  .nav-container ul {
      margin: 0;
  }
  
  .nav-logo {
    color: #fff;
    align-items: center;
    margin-left: 50px;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    max-width: 180px;
    z-index: 2;
    margin-bottom: 0;
    margin-top: 7px;
  }

  .nav-logo:hover{ 
    color: #fff;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    overflow-y: hidden;
    transition: all 0.35s;
    font-size: 1.4rem;
  }
  
  .nav-item:hover {
    transform: scale(1.1);
  }

  .nav-item a { 
      color: #fff
  }

 
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .navbar {
      overflow-y: hidden;
      transition: all 0.5s ease;
    }
    .navbar.active{ 
        overflow-x: visible;
        overflow-y: visible;
        transition: all 0.5s ease;
        width: 100vw;
    }

    .nav-logo { 
      font-size: 2.3rem;
      margin-left: 25px;
      margin-bottom: 15px;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      opacity: 1;
      transition: all 0.5s ease;
      margin-right: auto;
      transform: translate(0, -100%);
      width: 100%;
    }

    .nav-menu.active {
      padding-top: 90px;
      padding-left: 0;
      top: 0px;
      left: 0px;
      right: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      transform: translate(0);
      width: auto;
      background-image: linear-gradient(
        to right,
        #494848 0%,
        #464545 15%,
        #414040 35%,
        #3f3c3d 50%,
        #414040 65%,
        #464545 80%,
        #494848 100%
      );  
    }

    .nav-item .active {
      color: #fff;
      border: none;
    }

    .nav-links {
      padding: .5rem;
      width: 100%;
      display: table;
      overflow-x: hidden;
      overflow-y: hidden;
      margin-right: 0;
    }
  
    .nav-icon {
      display: block;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
      margin-bottom: 65px;
    }
  }

  @media screen and (max-width: 960px) {
    .nav-logo { 
      margin-left: 10%;
      margin-bottom: 0;
      margin-top: 7px;
    }
  }
  