.welcome { 
    margin: 0;
    height: 100vh;
    background-color: #9FA1A2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.welcome__button { 
    padding: 20px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #000;
    font-style: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    font-family: 'Black Ops One', cursive;
}

.welcome__link { 
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.welcome__button:hover { 
    transform: scale(1.1);
    cursor: pointer;  
}

.welcome__container { 
    color: #000;
    text-align: center;
    width: 65vw;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
}

.welcome__container h1 { 
    margin: 0;
    padding-bottom: 10px;
    font-size: 3rem;
}

.welcome__container p{
    font-size: 1.2rem; 
    margin: 0;
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.welcome__imgContainer {
    width: 50vw;
    height: 38vh;
}

.welcome__imgContainer img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    border-radius: 50px;
}

.welcome-linksWrapper { 
    padding-top: 10px;
    overflow-x: visible;

}
.welcome-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    transition: all 0.35s;
}

.welcome-links:hover { 
    transform: scale(1.1);
}

@media screen and (max-width: 960px) {
    .welcome { 
        flex-direction: column;
        height: 100%;
        padding-bottom: 50px;
    }

    .welcome__container { 
        width: 90vw;
        height: 100%;
        overflow-x: visible;
        padding-top: 100px;
        padding-left: 0;
    }

    .welcome__container h1 { 
        margin-top: 20px;
        padding-bottom: 10px;
        font-size: 2.8rem;
    }

    .welcome__container p { 
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .welcome__imgContainer { 
        margin-top: 25px;
        margin-bottom: 25px;
        overflow-x: visible;
        width: 90vw;
        height: 30vh;
    }

    .welcome-linksWrapper { 
        overflow-x: visible;
    }

    .welcome-links { 
        height: 100%;
    }

    .welcome__button  {
        margin-bottom: 40px;
    }
}